@font-face {
    font-family: "Inter";
    font-weight: 300;
    font-display: swap;
    src: url("Inter-ExtraLight.woff2") format(woff2);
}

@font-face {
    font-family: "Inter";
    font-weight: 500;
    font-display: swap;
    src: url("Inter-Medium.woff2") format(woff2);
}

@font-face {
    font-family: "AR Lisu Medium";
    font-weight: 400;
    font-display: swap;
    src: url("AR-LisuGB-Medium.woff2") format(woff2);
}

@font-face {
    font-family: "BlizzardGlobal";
    font-weight: 400;
    font-display: swap;
    src: url("BlizzardGlobal.woff2") format(woff2);
}